.pos-sta { position: static !important; }

.pos-rel { position: relative !important; }

.pos-abs { position: absolute !important; }

.pos-fix { position: fixed !important; }

.pos-stk { position: sticky !important; }

.stretch-to-fit { top: 0; right: 0; bottom: 0; left: 0; }

@media (min-width: 576px) { .pos-sta-sm { position: static !important; }
  .pos-rel-sm { position: relative !important; }
  .pos-abs-sm { position: absolute !important; }
  .pos-fix-sm { position: fixed !important; }
  .pos-stk-sm { position: sticky !important; }
  .stretch-to-fit-sm { top: 0; right: 0; bottom: 0; left: 0; } }
@media (min-width: 768px) { .pos-sta-md { position: static !important; }
  .pos-rel-md { position: relative !important; }
  .pos-abs-md { position: absolute !important; }
  .pos-fix-md { position: fixed !important; }
  .pos-stk-md { position: sticky !important; }
  .stretch-to-fit-md { top: 0; right: 0; bottom: 0; left: 0; } }
@media (min-width: 992px) { .pos-sta-lg { position: static !important; }
  .pos-rel-lg { position: relative !important; }
  .pos-abs-lg { position: absolute !important; }
  .pos-fix-lg { position: fixed !important; }
  .pos-stk-lg { position: sticky !important; }
  .stretch-to-fit-lg { top: 0; right: 0; bottom: 0; left: 0; } }
@media (min-width: 1200px) { .pos-sta-xl { position: static !important; }
  .pos-rel-xl { position: relative !important; }
  .pos-abs-xl { position: absolute !important; }
  .pos-fix-xl { position: fixed !important; }
  .pos-stk-xl { position: sticky !important; }
  .stretch-to-fit-xl { top: 0; right: 0; bottom: 0; left: 0; } }
