:root{
	--h1: #{$h1};
	--h2: #{$h2};
	--h3: #{$h3};
	--h4: #{$h4};
	--h5: #{$h5};
	--h6: #{$h6};
	--h7: #{$h7};
	--h8: #{$h8};

	--lh:         #{$line-height};
	--listIndent: #{$list-indent};

	font-family: sans-serif;   // Change the default font family in all browsers
	font-size:   $font-size;   // Initial font size of document
	font-weight: $font-weight; // Initial font weight of document
	line-height: var(--lh);    // Correct the line height in all browsers
	text-align:  left;         // Set an explicit initial text-align value so that we can later use the `inherit` value on things like `<th>` elements.
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS
}

h1,
h2,
h3,
h4,
h5,
h6{ font-weight: initial } // Set headings to normal weight

h1{ @include h1; }
h2{ @include h2; }
h3{ @include h3; }
h4{ @include h4; }
h5{ @include h5; }
h6{ @include h6; }

p{ margin-bottom: 1em }

abbr[title],
abbr[data-original-title]{
	border-bottom: 0;      // Remove the bottom border in Firefox 39-
	font-weight: bold;     // Font weight to bold
	text-decoration: none; // Remove dotted underline
	cursor: help;          // Add explicit cursor to indicate changed behavior
}

address{
	font-style: normal;
	line-height: inherit;
}

ul{ padding-left: var(--listIndent) }
ol{ padding-left: var(--listIndent) }
dd{ margin-left:  var(--listIndent) }

dt{ font-weight: initial }

blockquote{
	>footer{ // Naming a source
		@include h7;
		opacity: var(--mutedAlpha);
		&::before{ content: "\2014 \00A0" }
	}
}

b      { font-weight: bold   } // Add the correct font weight in Chrome, Edge, and Safari
strong { font-weight: bolder } // Add the correct font weight in Chrome, Edge, and Safari
small  { font-size:   75%    } // Add the correct font size in all browsers

// Prevent `sub` and `sup` elements from affecting the line height in all browsers
sub,
sup{
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub{ bottom: -.25em }
sup{ top:    -.5em  }

pre,
code,
kbd,
samp{
	font-family: monospace; // Set monospace font for relevant tags
	font-size: 1em;         // Correct the odd `em` font sizing in all browsers
	direction: ltr #{"/* rtl:ignore */"};
	unicode-bidi: bidi-override;
}

pre{
	display: block;
	overflow: auto; // Don't allow content to break outside

	// Account for some code outputs that place code tags in pre tags
	code{
		color: inherit;
		word-break: normal;
	}
}

code{ word-wrap: break-word }

// ------------------------------------------------------------------------- //

@each $breakpoint in map-keys($grid-breakpoints){
	$prefix: breakpoint-prefix($breakpoint);
	@include media-breakpoint-up($breakpoint){
		// .#{$prefix}text-show { @include text-show ($imp: true) } // This must be on top // TODO: Remove

		.#{$prefix}h0 { @include h0 ($imp: true); }
		.#{$prefix}h1 { @include h1 ($imp: true); }
		.#{$prefix}h2 { @include h2 ($imp: true); }
		.#{$prefix}h3 { @include h3 ($imp: true); }
		.#{$prefix}h4 { @include h4 ($imp: true); }
		.#{$prefix}h5 { @include h5 ($imp: true); }
		.#{$prefix}h6 { @include h6 ($imp: true); }
		.#{$prefix}h7 { @include h7 ($imp: true); }
		.#{$prefix}h8 { @include h8 ($imp: true); }

		.#{$prefix}text-left    { @include text-left    ($imp: true); }
		.#{$prefix}text-center  { @include text-center  ($imp: true); }
		.#{$prefix}text-right   { @include text-right   ($imp: true); }
		.#{$prefix}text-justify { @include text-justify ($imp: true); }

		.#{$prefix}lowercase  { @include lowercase  ($imp: true); }
		.#{$prefix}uppercase  { @include uppercase  ($imp: true); }
		.#{$prefix}capitalize { @include capitalize ($imp: true); }
		.#{$prefix}normalcase { @include normalcase ($imp: true); }

		.#{$prefix}small-caps  { @include small-caps  ($imp: true); }
		.#{$prefix}normal-caps { @include normal-caps ($imp: true); }

		.#{$prefix}nums-tabular  { @include nums-tabular  ($imp: true); }
		.#{$prefix}nums-oldstyle { @include nums-oldstyle ($imp: true); }
		.#{$prefix}nums-normal   { @include nums-normal   ($imp: true); }

		.#{$prefix}b100 { @include b100 ($imp: true); }
		.#{$prefix}b200 { @include b200 ($imp: true); }
		.#{$prefix}b300 { @include b300 ($imp: true); }
		.#{$prefix}b400 { @include b400 ($imp: true); }
		.#{$prefix}b500 { @include b500 ($imp: true); }
		.#{$prefix}b600 { @include b600 ($imp: true); }
		.#{$prefix}b700 { @include b700 ($imp: true); }
		.#{$prefix}b800 { @include b800 ($imp: true); }
		.#{$prefix}b900 { @include b900 ($imp: true); }

		.#{$prefix}one-line   { @include one-line   ($imp: true); }
		.#{$prefix}multi-line { @include multi-line ($imp: true); }

		.#{$prefix}list-unstyled { @include list-unstyled ($imp: true); }
		.#{$prefix}list-styled   { @include list-styled   ($imp: true); }

		.#{$prefix}text-muted   { @include text-muted   ($imp: true); }
		.#{$prefix}text-unmuted { @include text-unmuted ($imp: true); }

		// .#{$prefix}text-hide { @include text-hide ($imp: true) } // TODO: Remove
	}
}
