:root{
	--easeInSine:   #{$easeInSine};
	--easeOutSine:  #{$easeOutSine};
	--easeSine:     #{$easeSine};
	--easeInQuad:   #{$easeInQuad};
	--easeOutQuad:  #{$easeOutQuad};
	--easeQuad:     #{$easeQuad};
	--easeInCubic:  #{$easeInCubic};
	--easeOutCubic: #{$easeOutCubic};
	--easeCubic:    #{$easeCubic};
	--easeInQuart:  #{$easeInQuart};
	--easeOutQuart: #{$easeOutQuart};
	--easeQuart:    #{$easeQuart};
	--easeInQuint:  #{$easeInQuint};
	--easeOutQuint: #{$easeOutQuint};
	--easeQuint:    #{$easeQuint};
	--easeInExpo:   #{$easeInExpo};
	--easeOutExpo:  #{$easeOutExpo};
	--easeExpo:     #{$easeExpo};
	--easeInCirc:   #{$easeInCirc};
	--easeOutCirc:  #{$easeOutCirc};
	--easeCirc:     #{$easeCirc};
	--easeInBack:   #{$easeInBack};
	--easeOutBack:  #{$easeOutBack};
	--easeBack:     #{$easeBack};
}

@include all-selector{ @include ease-out-circ($imp: true) }

@each $breakpoint in map-keys($grid-breakpoints){
	$prefix: breakpoint-prefix($breakpoint);
	@include media-breakpoint-up($breakpoint){
		.#{$prefix}ease           { @include ease           ($imp: true) }
		.#{$prefix}ease-in        { @include ease-in        ($imp: true) }
		.#{$prefix}ease-out       { @include ease-out       ($imp: true) }
		.#{$prefix}ease-inout     { @include ease-inout     ($imp: true) }
		.#{$prefix}ease-linear    { @include ease-linear    ($imp: true) }
		.#{$prefix}ease-in-sine   { @include ease-in-sine   ($imp: true) }
		.#{$prefix}ease-out-sine  { @include ease-out-sine  ($imp: true) }
		.#{$prefix}ease-sine      { @include ease-sine      ($imp: true) }
		.#{$prefix}ease-in-quad   { @include ease-in-quad   ($imp: true) }
		.#{$prefix}ease-out-quad  { @include ease-out-quad  ($imp: true) }
		.#{$prefix}ease-quad      { @include ease-quad      ($imp: true) }
		.#{$prefix}ease-in-cubic  { @include ease-in-cubic  ($imp: true) }
		.#{$prefix}ease-out-cubic { @include ease-out-cubic ($imp: true) }
		.#{$prefix}ease-cubic     { @include ease-cubic     ($imp: true) }
		.#{$prefix}ease-in-quart  { @include ease-in-quart  ($imp: true) }
		.#{$prefix}ease-out-quart { @include ease-out-quart ($imp: true) }
		.#{$prefix}ease-quart     { @include ease-quart     ($imp: true) }
		.#{$prefix}ease-in-quint  { @include ease-in-quint  ($imp: true) }
		.#{$prefix}ease-out-quint { @include ease-out-quint ($imp: true) }
		.#{$prefix}ease-quint     { @include ease-quint     ($imp: true) }
		.#{$prefix}ease-in-expo   { @include ease-in-expo   ($imp: true) }
		.#{$prefix}ease-out-expo  { @include ease-out-expo  ($imp: true) }
		.#{$prefix}ease-expo      { @include ease-expo      ($imp: true) }
		.#{$prefix}ease-in-circ   { @include ease-in-circ   ($imp: true) }
		.#{$prefix}ease-out-circ  { @include ease-out-circ  ($imp: true) }
		.#{$prefix}ease-circ      { @include ease-circ      ($imp: true) }
		.#{$prefix}ease-in-back   { @include ease-in-back   ($imp: true) }
		.#{$prefix}ease-out-back  { @include ease-out-back  ($imp: true) }
		.#{$prefix}ease-back      { @include ease-back      ($imp: true) }
	}
}
