// Styling native elements: https://gist.github.com/alwayrun/eda1b59b72831212b9f1

/*
:checked
:focus
:disabled/:enabled
:active
:invalid/:valid
:read-only/:read-write

:hover
:empty
:out-of-range/:in-range
:required/:optional

::placeholder
*/

:root{
	--svg-caret-down: url('data:image/svg+xml;utf8,\
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" fill-opacity="0.25" class="bi bi-caret-down-fill" viewBox="0 0 16 16">\
			<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>\
		</svg>');
	--svg-calendar: url('data:image/svg+xml;utf8,\
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">\
			<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>\
		</svg>');
	--svg-check: url('data:image/svg+xml;utf8,\
		<svg width="100%" height="100%" viewBox="0 0 443 443" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">\
			<path d="M434.539,98.499L395.711,59.671C390.387,54.343 383.912,51.678 376.301,51.678C368.683,51.678 362.208,54.343 356.884,59.671L169.59,247.248L85.651,163.023C80.321,157.693 73.85,155.031 66.239,155.031C58.623,155.031 52.152,157.693 46.822,163.023L7.994,201.852C2.664,207.181 0,213.654 0,221.269C0,228.878 2.664,235.357 7.994,240.685L111.345,344.034L150.176,382.862C155.503,388.194 161.976,390.856 169.59,390.856C177.201,390.856 183.674,388.187 189.004,382.862L227.834,344.034L434.539,137.33C439.864,132 442.533,125.528 442.533,117.913C442.537,110.302 439.864,103.829 434.539,98.499Z" style="fill:white;fill-rule:nonzero;"/>\
		</svg>');
	--svg-circle: url('data:image/svg+xml;utf8,\
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-circle-fill" viewBox="0 0 16 16">\
			<circle cx="8" cy="8" r="8"/>\
		</svg>');
	--svg-cancel: url('data:image/svg+xml;utf8,\
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" fill-opacity="0.25" class="bi bi-x-circle-fill" viewBox="0 0 16 16">\
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>\
		</svg>');
}

label{ display: block }

optgroup{ font-size: .75em }

input,
button,
select,
optgroup,
textarea,
label,
progress{
  display: block;
  min-width: 0;
  min-height: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
	// -webkit-appearance: none;
}

select,
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="checkbox"],
input[type="radio"],
input[type="search"]::-webkit-search-cancel-button,
input[type="file"]::-webkit-file-upload-button,
input[type="range"]{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

*{ @include disabled{
	opacity: .5;
	cursor: default;
	pointer-events: none;
}}

// Show increment & decrement buttons always (even without hover) in chrome
// https://twitter.com/leaverou/status/1072994977876197377?lang=en
input::-webkit-inner-spin-button{
	// -webkit-appearance: none;
	opacity: 1;
}

// -- STYLING -------------------------------------------------------------- //

@include button-inputs{  @include button-input-style;  }
@include outline-inputs{ @include outline-input-style; }

textarea{
	min-height: $input-height;
	resize: vertical;
	height: calc(3.75em + 8px);
}

input[type="color"]{
	padding: 2px;
	@include input-color-swatch-wrapper{ padding: 0 }
	@include input-color-swatch{
		border: 0.5px solid Hsla(var(--textHSL),.125);
		border-radius: 4px;
	}
}

select,
input[type="color"]{
	padding-right: $input-height;
	background-image: var(--svg-caret-down);
	background-size: 12px;
	background-position: calc(100% - #{$input-height/2} + 6px) center;
	background-repeat: no-repeat;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"]{
	padding-right: $input-height;
	@include firefox-only{ padding-right: 8px; }
	@include safari-only{  padding-right: 8px; }
}

::-webkit-calendar-picker-indicator{
	$alpha: 1;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	margin-right: -23px;
	border: 1px solid Hsla(var(--textHSL),$alpha);
	border-radius: 3px;
	background: none;
	box-shadow: inset 0 3px Hsla(var(--textHSL),$alpha);
}

input[type="time"]::-webkit-calendar-picker-indicator{
	transform: rotate(15deg);
	border-right-width: 6px;
	border-radius: 50%;
	box-shadow: none;
}

/// TODO: Number spinner controls

input[type="search"]::-webkit-search-cancel-button{
	width: 16px;
	height: 16px;
	margin-right: -2px;
	background-image: var(--svg-cancel);
}

input[type="file"]{
	@include outline-input-style;
	height: auto;
	// border-style: dashed;
	padding: 4px;

	/// TODO: Firefox
	&::-webkit-file-upload-button{
		height: inherit;
		margin: -5px 4px -5px -4px;
		border: none;
		border-right: 0.5px solid;
		border-right-color: inherit;
		border-radius: 0;
		padding: 4px 8px;
		// background-color: inherit;
		@include text-muted;
	}
}

input[type="range"]{
	height: $input-height;
	background-color: transparent;
	box-shadow: none;

	// @include input-range-thumb{
	// 	$size: 20px;
	// 	transform: rotate(45deg);
	// 	width: $size;
	// 	height: $size;
	// 	margin: -7px 0px;
	// 	border: 0.5px solid Hsla(var(--textHSL),.25);
	// 	border-radius: 50%;
	// 	background-color: Hsl(var(--textHSL));
	// 	box-shadow: 0 4px 20px Hsla(var(--textHSL),.25);
	// 	-webkit-appearance: none;
	// }
	// @include hover{   @include input-range-thumb{ border-radius: 50% 50% 2px; }}
	// &:focus,&:active{ @include input-range-thumb{ border-radius: 50% 50% 2px; }}

	@include input-range-thumb{
		width: 20px;
		height: 8px;
		margin: -1.5px 0px;
		border: 0.5px solid Hsla(var(--textHSL),.25);
		border-radius: 3px;
		background-color: Hsl(var(--textHSL));
		box-shadow: 0 4px 20px Hsla(var(--textHSL),.25);
		transition: transform .1s;
		-webkit-appearance: none;
	}
	@include hover{   @include input-range-thumb{ transform: rotate(90deg); }}
	&:focus,&:active{ @include input-range-thumb{ transform: rotate(90deg); }}

	@include input-range-track{
		height: 6px;
		border: 0.5px solid Hsla(var(--textHSL),.1);
		border-radius: 6px;
		background-color: Hsla(var(--textHSL),.025);
	}
}

/// TODO: Fix focus
input[type="checkbox"],
input[type="radio"]{
	@include outline-input-style;

	$size: 16px;
	display: inline-block;
	vertical-align: middle;
	width: $size;
	height: $size;
	margin: 0 8px 2px 0;
	padding: 0;
	background: Hsla(var(--textHSL),.1) center no-repeat;
	cursor: pointer;
	&:checked{
		background-color: Hsla(var(--accentHSL),1);
		box-shadow: 0 4px 20px Hsla(var(--accentHSL),.25);
	}
	&:focus{ box-shadow: 0 4px 20px Hsla(var(--accentHSL),.5) }
}
input[type="checkbox"]{
	border-radius: 4px;
	background-size: 10px;
	&:checked{ background-image: var(--svg-check) }
	&:focus{ border-color: Hsl(var(--accentHSL)) }
}
input[type="radio"]{
	border-radius: 50%;
	background-size: 6px;
	&:checked{ background-image: var(--svg-circle) }
	&:not(:checked){ transform: scale(.5) }
	&:focus{ border: 2px solid Hsl(var(--accentHSL)) }
}
