/// TODO: Create mixins

%popover{
	--cornerDiameter: 16px;
	--offset: 0px;

	--cornerGraphic: #{$cornerGraphic};

	--top: 0px;
	--right: 0px;
	--bottom: 0px;
	--left: 0px;

	--centerX: calc(50% + var(--left) / 2 - var(--right) / 2);
	--centerY: calc(50% + var(--top) / 2 - var(--bottom) / 2);

	--width:  calc(100% - var(--left) - var(--right) - var(--cornerDiameter));
	--height: calc(100% - var(--top) - var(--bottom) - var(--cornerDiameter));

	--mask:
		var(--triangleGraphic) var(--trianglePosition) / var(--triangleSize) no-repeat
		,linear-gradient(black,black) var(--centerX) var(--centerY) / var(--width) var(--height) no-repeat

		/* corners */
		,var(--cornerGraphic) var(--left)                               var(--top) / var(--cornerDiameter) no-repeat
		,var(--cornerGraphic) calc(100% - var(--right))                 var(--top) / var(--cornerDiameter) no-repeat
		,var(--cornerGraphic) calc(100% - var(--right)) calc(100% - var(--bottom)) / var(--cornerDiameter) no-repeat
		,var(--cornerGraphic) var(--left)               calc(100% - var(--bottom)) / var(--cornerDiameter) no-repeat

		/* edges */
		,linear-gradient(black,black) var(--centerX)                 var(--top) / var(--width)  var(--cornerDiameter) no-repeat
		,linear-gradient(black,black) calc(100% - var(--right))  var(--centerY) / var(--cornerDiameter) var(--height) no-repeat
		,linear-gradient(black,black) var(--centerX) calc(100% - var(--bottom)) / var(--width)  var(--cornerDiameter) no-repeat
		,linear-gradient(black,black) var(--left)                var(--centerY) / var(--cornerDiameter) var(--height) no-repeat
	;
	mask: var(--mask);
}

.popover-tl,.popover-tc,.popover-tr{
	@extend %popover;

	--triangleGraphic: #{$triangle-t};
	--top: 8px;
	padding-top: 8px;
}

.popover-tl{ --trianglePosition:             var(--offset)  0% }
.popover-tc{ --trianglePosition:  calc(50% + var(--offset)) 0% }
.popover-tr{ --trianglePosition: calc(100% - var(--offset)) 0% }

.popover-bl,.popover-bc,.popover-br{
	@extend %popover;

	--triangleGraphic: #{$triangle-b};
	--bottom: 8px;
	padding-bottom: 8px;
}

.popover-bl{ --trianglePosition:             var(--offset)  100% }
.popover-bc{ --trianglePosition:  calc(50% + var(--offset)) 100% }
.popover-br{ --trianglePosition: calc(100% - var(--offset)) 100% }

.popover-tl,.popover-tc,.popover-tr,
.popover-bl,.popover-bc,.popover-br{ --triangleSize: calc(24px + var(--cornerDiameter)) 9px }

.popover-lt,.popover-lc,.popover-lb{
	@extend %popover;

	--triangleGraphic: #{$triangle-l};
	--left: 8px;
	padding-left: 8px;
}

.popover-lt{ --trianglePosition: 0%             var(--offset)  }
.popover-lc{ --trianglePosition: 0%  calc(50% + var(--offset)) }
.popover-lb{ --trianglePosition: 0% calc(100% - var(--offset)) }

.popover-rt,.popover-rc,.popover-rb{
	@extend %popover;

	--triangleGraphic: #{$triangle-r};
	--right: 8px;
	padding-right: 8px;
}

.popover-rt{ --trianglePosition: 100%             var(--offset)  }
.popover-rc{ --trianglePosition: 100%  calc(50% + var(--offset)) }
.popover-rb{ --trianglePosition: 100% calc(100% - var(--offset)) }

.popover-lt,.popover-lc,.popover-lb,
.popover-rt,.popover-rc,.popover-rb{ --triangleSize: 9px calc(24px + var(--cornerDiameter)) }
