// Reboot - CSS Reset

// Inspired by:
// Tailwind Preflight - https://tailwindcss.com/docs/preflight
// Bootstrap Reboot   - https://github.com/twbs/bootstrap/blob/master/scss/_reboot.scss
//                    - Rev. Mar 10, 2021 7:06 PM PST - 644afc2 (644afc276169fd94ee2e6c5c79df8337be1b12ed)

// COMPONENTS MAP

// reboot
// ├─ colors
// ├─ typography
// └─ forms

@include all-selector{
	flex-shrink: 0;         // Prevent shrinking of flex elements by default in some browsers
	box-sizing: border-box; // `width` is now not affected by `padding` or `border`
	background-size: cover; // prevent background image distortion
	font-size: inherit;     // Make `font-size` an inherited property
}

:root{
	top: env(safe-area-inset-top,0px);
	right: env(safe-area-inset-right,0px);
	bottom: env(safe-area-inset-bottom,0px);
	left: env(safe-area-inset-left,0px);

	touch-action: manipulation; // Reduces touch latency

	@media (prefers-reduced-motion: no-preference){ scroll-behavior: smooth }
}

// Inspired by Tailwind Preflight
h1,h2,h3,h4,h5,h6,
p,
ul,ol,dl,dd,
blockquote,
figure,
pre,
hr{ margin: 0 } // Remove margin to heading, paragraph, list elements. Use grid spacing / margin-padding instead

// Change the default tap highlight to be completely transparent in iOS
body{ -webkit-tap-highlight-color: transparent }

hr{
	height: 1px; // Make height 1 px
	border: 0;   // Remove borders
	background-color: Hsla(var(--textHSL),var(--mutedAlpha));
}

a{
	text-decoration:  none;        // Remove underline for links
	background-color: transparent; // Remove the gray background on active links in IE 10
}

// And undo these styles for placeholder links/named anchors (without href) which have not been made explicitly keyboard-focusable (without tabindex)
// It would be more straightforward to just use a[href] in previous block, but that causes specificity issues in many other styles that are too complex to fix
// See https://github.com/twbs/bootstrap/issues/19402
a:not([href]):not([tabindex]){
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus{
		color: inherit;
		text-decoration: none;
	}

	&:focus{ outline: 0 }
}

// Inspired by Tailwind Preflight
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object{
	display: block;
	vertical-align: middle;
}

img{ object-fit: cover } // By default, set `object-fit: cover` to prevent image distortion

// Always hide an element with the `hidden` HTML attribute (from PureCSS)
[hidden]{ display: none !important }

// Gets rid of the annoying outline for mouse users but preserves it for keyboard users
*:focus:not(:focus-visible){ outline: none }

// Append link URL when printing
// @media print{
// 	a[href]:not([role])::after,
// 	a[href][role="link"]::after{
// 		content: " - " attr(href);
// 		font-size: smaller;
// 		font-weight: normal;
// 	}
// }

// -- TABLES --------------------------------------------------------------- //

table{
	caption-side: bottom;
	border-collapse: collapse; // Prevent double borders
}

caption{
	padding: 0;
	text-align: left;
}

th{
	text-align: inherit;              // Matches default `<td>` alignment by inheriting `text-align`
	text-align: -webkit-match-parent; // Fix alignment for Safari
}

thead,
tbody,
tfoot,
tr,
td,
th{
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}

// -- COMPONENTS ----------------------------------------------------------- //

@import "colors";
@import "typography";
@import "forms";
