// CSS Reset
//
// CSS Reset ensures that websites look consistent across browsers while complying to modern HTML standards.
// This CSS Reset style-sheet is specifically optimized for this framework.
//
// Forked & modified from Normalize.css.
// Normalize is licensed MIT. https://github.com/necolas/normalize.css

$background-color: white;
$text-color: #333;
$font-family-monospace: monospace;

*,
*::before,
*::after{
	flex-shrink: 0; // Prevent shrinking of flex elements by default in some browsers
	box-sizing: border-box; // `width` is now not affected by `padding` or `border`
	background-size: cover; // prevent background image distortion
	font-size: inherit; // Make `font-size` an inherited property
}

html{
	font-family: sans-serif; // Change the default font family in all browsers
	line-height: 1.25; // Correct the line height in all browsers
	-webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS
	-ms-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS
	-webkit-tap-highlight-color: transparent; // Change the default tap highlight to be completely transparent in iOS
}

@at-root{
	@-ms-viewport{ width: device-width } // IE10+ doesn't honor `<meta name="viewport">` in some cases
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section{ display: block } // Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)

body{
	margin: 0; // Remove body margin in all browsers
	background-color: $background-color; // As a best practice, apply a default `background-color`
	color: $text-color; // As a best practice, apply a default `color`
}

// Suppress the focus outline on elements that cannot be accessed via keyboard
// This prevents an unwanted focus outline from appearing around elements that might still respond to pointer events
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus{ outline: 0 !important }

hr{
	height: 1px; // Make height 1 px
	margin: 0; // Remove margin, use grid spacing / margin-padding instead
	border: 0; // Remove borders
	background-color: currentcolor; // Set background color to text color
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl{ margin: 0 } // Remove margin to heading, paragraph, list elements. Use grid spacing / margin-padding instead

h1,
h2,
h3,
h4,
h5,
h6{ font-weight: normal } // Set headings to normal weight

abbr[title],
abbr[data-original-title]{
	border-bottom: 0; // Remove the bottom border in Firefox 39-
	font-weight: bold; // Font weight to bold
	text-decoration: none; // Remove dotted underline
	cursor: help; // Add explicit cursor to indicate changed behavior
}

address{
	font-style: normal;
	line-height: inherit;
}

dfn{ font-style: italic } // Add the correct font style in Android 4.3-

b{ font-weight: bold } // Add the correct font weight in Chrome, Edge, and Safari

strong{ font-weight: bolder } // Add the correct font weight in Chrome, Edge, and Safari

small{ font-size: 75% } // Add the correct font size in all browsers

// Prevent `sub` and `sup` elements from affecting the line height in all browsers
sub,
sup{
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub{ bottom: -.25em }
sup{ top: -.5em }

a{
	text-decoration: none; // Remove underline for links
	background-color: transparent; // Remove the gray background on active links in IE 10
}

// And undo these styles for placeholder links/named anchors (without href) which have not been made explicitly keyboard-focusable (without tabindex)
// It would be more straightforward to just use a[href] in previous block, but that causes specificity issues in many other styles that are too complex to fix
// See https://github.com/twbs/bootstrap/issues/19402
a:not([href]):not([tabindex]){
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus{
		color: inherit;
		text-decoration: none;
	}

	&:focus{ outline: 0 }
}

pre,
code,
kbd,
samp{ font-family: $font-family-monospace } // Set monospace font for relevant tags

pre{
	margin: 0; // Remove margin, use grid spacing / margin-padding instead
	overflow: auto; // Don't allow content to break outside
}

figure{ margin: 0 } // Remove margin, use grid spacing / margin-padding instead

img{
	display: block; // Using `display: block` for grid compatability
	border: 0; // Remove border for `img` elements
	object-fit: cover; // By default, set `object-fit: cover` to prevent image distortion
}

// Workaround for the SVG overflow bug in IE10/11 is still required
// See https://github.com/twbs/bootstrap/issues/26878
svg{
	overflow: hidden;
	vertical-align: middle;
}

table{ border-collapse: collapse } // Prevent double borders

th{ text-align: inherit } // Matches default `<td>` alignment by inheriting from the `<body>`, or the closest parent with a set `text-align`

input,
button,
select,
optgroup,
textarea,
label,
progress{
	display: block; // Using `display: block` for grid compatability
	min-width: 0; // Remove default min-width
	margin: 0; // Remove the margin in Firefox and Safari
	border-radius: 0; // Remove `border-radius` on all browsers
	font-family: inherit; // Inherit font properties
	font-size: inherit; // Inherit font properties
	line-height: inherit; // Inherit font properties
	-webkit-appearance: none; // For consistent custom styling across all browsers
}

button,
select{ text-transform: none } // Remove the inheritance of text transform in Firefox

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
	border: 0;
	padding: 0;
}

input[type="radio"],
input[type="checkbox"]{
	box-sizing: border-box; // Add the correct box sizing in IE 10-
	padding: 0; // Remove the padding in IE 10-
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]{
	// Remove the default appearance of temporal inputs to avoid a Mobile Safari bug where setting a custom line-height prevents text from being vertically centered within the input
	// See https://bugs.webkit.org/show_bug.cgi?id=139848 and https://github.com/twbs/bootstrap/issues/11266
	display: flex;
	align-items: center;
}

textarea{
	overflow: auto; // Remove the default vertical scrollbar in IE
	resize: vertical; // Textareas should really only resize vertically so they don't break their (horizontal) containers
}

fieldset{
	// Browsers set a default `min-width: min-content;` on fieldsets, unlike e.g. `<div>`s, which have `min-width: 0;` by default
	// So we reset that to ensure fieldsets behave more like a standard block element
	// See https://github.com/twbs/bootstrap/issues/12359 and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
	min-width: 0;
	// Reset the default outline behavior of fieldsets so they don't affect page layout
	margin: 0;
	border: 0;
	padding: 0;
}

legend{
	display: block;
	width: 100%;
	max-width: 100%; // Correct the text wrapping in Edge and IE
	padding: 0;
	line-height: inherit;
	color: inherit; // Correct the color inheritance from `fieldset` elements in IE
	white-space: normal; // Correct the text wrapping in Edge and IE
}

input,
select,
progress{ vertical-align: middle } // Add the correct vertical alignment in Chrome, Firefox, and Opera

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{ height: auto } // Correct the cursor style of increment and decrement buttons in Chrome

::-webkit-file-upload-button{
	border-radius: 0; // Remove `border-radius` on all browsers
	font: inherit; // Change font properties to `inherit` in Safari
	-webkit-appearance: none; // Correct the inability to style clickable types in iOS and Safari
}

output{ display: inline-block } // Add the correct display in all browsers

summary{
	display: list-item; // Add the correct display in all browsers
	cursor: pointer; // Add the correct cursor in all browsers
}

template{ display: none } // Add the correct display in IE

// Always hide an element with the `hidden` HTML attribute (from PureCSS)
// Needed for proper display in IE 10-
[hidden]{ display: none !important }

blockquote{
	margin: 0; // Remove margin, use grid spacing / margin-padding instead
	>footer{ // Naming a source
		opacity: .5;
		&::before{ content: "\2014 \00A0" }
	}
}

ul{ padding-left: 25px }
ol{ padding-left: 35px }
dd{ margin-left: 25px }

// Append link URL when printing
@media print{
	a[href]:not([role])::after,
	a[href][role="link"]::after{
		content: " - " attr(href);
		font-size: smaller;
		font-weight: normal;
	}
}

@import "typography";
