@import "variables";
@import "breakpoints";

@mixin scroll($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){
		overflow: aut ;
		@supports(-webkit-overflow-scrolling: touch){
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}
@mixin scroll-x($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){
		overflow-x: aut ;
		@supports(-webkit-overflow-scrolling: touch){
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}
@mixin scroll-y($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){
		overflow-y: aut ;
		@supports(-webkit-overflow-scrolling: touch){
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}

@mixin no-scroll($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow: visibile } }
@mixin no-scroll-x($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-x: visibile } }
@mixin no-scroll-y($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-y: visibile } }

@mixin trim($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow: hidden } }
@mixin trim-x($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-x: hidden } }
@mixin trim-y($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-y: hidden } }

@each $breakpoint in map-keys($grid-breakpoints){
	$suffix: breakpoint-suffix($breakpoint);
	@include media-breakpoint-up($breakpoint){
		.scroll#{$suffix}{ @include scroll }
		.scroll-x#{$suffix}{ @include scroll-x }
		.scroll-y#{$suffix}{ @include scroll-y }

		.no-scroll#{$suffix}{ @include no-scroll }
		.no-scroll-x#{$suffix}{ @include no-scroll-x }
		.no-scroll-y#{$suffix}{ @include no-scroll-y }

		.trim#{$suffix}{ @include trim }
		.trim-x#{$suffix}{ @include trim-x }
		.trim-y#{$suffix}{ @include trim-y }
	}
}
