:root{
	--containerWidth: #{breakpoint-min($container-breakpoint,$grid-breakpoints)};
}

@each $breakpoint in map-keys($grid-breakpoints){
	$prefix: breakpoint-prefix($breakpoint);
	@include media-breakpoint-up($breakpoint){
		// Space-Between Rules
		@for $size from 0 through $spacing-steps{
			$size: $size*$spacing-step-size;
			.#{$prefix}ingap-t-#{$size}{ @include ingap-t($size*1px,$imp: true); }
			.#{$prefix}ingap-r-#{$size}{ @include ingap-r($size*1px,$imp: true); }
			.#{$prefix}ingap-b-#{$size}{ @include ingap-b($size*1px,$imp: true); }
			.#{$prefix}ingap-l-#{$size}{ @include ingap-l($size*1px,$imp: true); }
		}

		.#{$prefix}m-auto{ @include m(auto,$imp: true); }
		@for $size from 0 through $spacing-steps{
			$size: $size*$spacing-step-size;
			.#{$prefix}m-#{$size}{ @include m($size*1px,$imp: true); }
			@if $size!=0{ .#{$prefix}m-m#{$size}{ @include m($size*-1px,$imp: true); }}
			// .#{$prefix}b-#{$size}{ @include b($size*1px,$imp: true); }
			.#{$prefix}p-#{$size}{ @include p($size*1px,$imp: true); }
		}

		.#{$prefix}mx-auto{ @include mx(auto,$imp: true); }
		@for $size from 0 through $spacing-steps{
			$size: $size*$spacing-step-size;
			.#{$prefix}mx-#{$size}{ @include mx($size*1px,$imp: true); }
			@if $size!=0{ .#{$prefix}mx-m#{$size}{ @include mx($size*-1px,$imp: true); }}
			// .#{$prefix}bx-#{$size}{ @include bx($size*1px,$imp: true); }
			.#{$prefix}px-#{$size}{ @include px($size*1px,$imp: true); }
		}

		.#{$prefix}my-auto{ @include my(auto,$imp: true); }
		@for $size from 0 through $spacing-steps{
			$size: $size*$spacing-step-size;
			.#{$prefix}my-#{$size}{ @include my($size*1px,$imp: true); }
			@if $size!=0{ .#{$prefix}my-m#{$size}{ @include my($size*-1px,$imp: true); }}
			// .#{$prefix}by-#{$size}{ @include by($size*1px,$imp: true); }
			.#{$prefix}py-#{$size}{ @include py($size*1px,$imp: true); }
		}

		.#{$prefix}mt-auto{ @include mt(auto,$imp: true); }
		@for $size from 0 through $spacing-steps{
			$size: $size*$spacing-step-size;
			.#{$prefix}mt-#{$size}{ @include mt($size*1px,$imp: true); }
			@if $size!=0{ .#{$prefix}mt-m#{$size}{ @include mt($size*-1px,$imp: true); }}
			// .#{$prefix}bt-#{$size}{ @include bt($size*1px,$imp: true); }
			.#{$prefix}pt-#{$size}{ @include pt($size*1px,$imp: true); }
		}

		.#{$prefix}mr-auto{ @include mr(auto,$imp: true); }
		@for $size from 0 through $spacing-steps{
			$size: $size*$spacing-step-size;
			.#{$prefix}mr-#{$size}{ @include mr($size*1px,$imp: true); }
			@if $size!=0{ .#{$prefix}mr-m#{$size}{ @include mr($size*-1px,$imp: true); }}
			// .#{$prefix}br-#{$size}{ @include br($size*1px,$imp: true); }
			.#{$prefix}pr-#{$size}{ @include pr($size*1px,$imp: true); }
		}

		.#{$prefix}mb-auto{ @include mb(auto,$imp: true); }
		@for $size from 0 through $spacing-steps{
			$size: $size*$spacing-step-size;
			.#{$prefix}mb-#{$size}{ @include mb($size*1px,$imp: true); }
			@if $size!=0{ .#{$prefix}mb-m#{$size}{ @include mb($size*-1px,$imp: true); }}
			// .#{$prefix}bb-#{$size}{ @include bb($size*1px,$imp: true); }
			.#{$prefix}pb-#{$size}{ @include pb($size*1px,$imp: true); }
		}

		.#{$prefix}ml-auto{ @include ml(auto,$imp: true); }
		@for $size from 0 through $spacing-steps{
			$size: $size*$spacing-step-size;
			.#{$prefix}ml-#{$size}{ @include ml($size*1px,$imp: true); }
			@if $size!=0{ .#{$prefix}ml-m#{$size}{ @include ml($size*-1px,$imp: true); }}
			// .#{$prefix}bl-#{$size}{ @include bl($size*1px,$imp: true); }
			.#{$prefix}pl-#{$size}{ @include pl($size*1px,$imp: true); }
		}

		.#{$prefix}container   { @include container($imp: true)   }
		.#{$prefix}container-p { @include container-p($imp: true); }
		@each $name in map-keys($grid-breakpoints){ @if breakpoint-min($name,$grid-breakpoints)!=null{
			.#{$prefix}container-#{$name}   { @include container($name,$imp: true); }
			.#{$prefix}container-p-#{$name} { @include container-p($name,$imp: true); }
		}}
		.#{$prefix}container-fluid   { @include container-fluid($imp: true); }
		.#{$prefix}container-p-fluid { @include container-p-fluid($imp: true); }
	}
}

.square{ @include fix-aspect }
