@import "variables";
@import "breakpoints";

@mixin h1($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-size: 40px } }
@mixin h2($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-size: 32px } }
@mixin h3($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-size: 28px } }
@mixin h4($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-size: 24px } }
@mixin h5($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-size: 20px } }
@mixin h6($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-size: 16px } }
@mixin h7($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-size: 12px } }
@mixin h8($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-size: 9.6px } }

@mixin text-left($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ text-align: left } }
@mixin text-center($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ text-align: center } }
@mixin text-right($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ text-align: right } }
@mixin text-justify($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ text-align: justify } }

@mixin lowercase($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ text-transform: lowercase } }
@mixin uppercase($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ text-transform: uppercase } }
@mixin capitalize($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ text-transform: capitalize } }
@mixin text-normal($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ text-transform: none } }

@mixin small-caps($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-variant: small-caps } }
@mixin font-variant-normal($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-variant: normal } }

@mixin b-100($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 100 !important } }
@mixin b-200($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 200 !important } }
@mixin b-300($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 300 !important } }
@mixin b-400($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 400 !important } }
@mixin b-500($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 500 !important } }
@mixin b-600($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 600 !important } }
@mixin b-700($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 700 !important } }
@mixin b-800($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 800 !important } }
@mixin b-900($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font-weight: 900 !important } }

@mixin one-line($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap } }
@mixin text-hide($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ font: 0/0 a; color: transparent; text-shadow: none } }
@mixin list-unstyled($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ padding-left: 0; list-style: none } }

@each $breakpoint in map-keys($grid-breakpoints){
	$suffix: breakpoint-suffix($breakpoint);
	@include media-breakpoint-up($breakpoint){
		.h1#{$suffix}{ @include h1 }
		.h2#{$suffix}{ @include h2 }
		.h3#{$suffix}{ @include h3 }
		.h4#{$suffix}{ @include h4 }
		.h5#{$suffix}{ @include h5 }
		.h6#{$suffix}{ @include h6 }
		.h7#{$suffix}{ @include h7 }
		.h8#{$suffix}{ @include h8 }

		.text-left#{$suffix}{ @include text-left }
		.text-center#{$suffix}{ @include text-center }
		.text-right#{$suffix}{ @include text-right }
		.text-justify#{$suffix}{ @include text-justify }

		.lowercase#{$suffix}{ @include lowercase }
		.uppercase#{$suffix}{ @include uppercase }
		.capitalize#{$suffix}{ @include capitalize }
		.text-normal#{$suffix}{ @include text-normal }

		.small-caps#{$suffix}{ @include small-caps }
		.font-variant-normal#{$suffix}{ @include font-variant-normal }

		.b-100#{$suffix}{ @include b-100 }
		.b-200#{$suffix}{ @include b-200 }
		.b-300#{$suffix}{ @include b-300 }
		.b-400#{$suffix}{ @include b-400 }
		.b-500#{$suffix}{ @include b-500 }
		.b-600#{$suffix}{ @include b-600 }
		.b-700#{$suffix}{ @include b-700 }
		.b-800#{$suffix}{ @include b-800 }
		.b-900#{$suffix}{ @include b-900 }

		.one-line#{$suffix}{ @include one-line }
		.text-hide#{$suffix}{ @include text-hide }
		.list-unstyled#{$suffix}{ @include list-unstyled }
	}
}

:root{ @include h6 }

blockquote{
	@include h5;
	>footer{ @include h6 }
}

h1{ @extend .h1 }
h2{ @extend .h2 }
h3{ @extend .h3 }
h4{ @extend .h4 }
h5{ @extend .h5 }
h6{ @extend .h6 }
