// Easing Functions - Bezier Curve values

// Forked from easings.net
// https://github.com/ai/easings.net/blob/master/src/easings.yml
// Rev. Mar 25, 2019
// easings.net is licensed GNU GPLv3. https://github.com/ai/easings.net

/// TODO: Separate transition and animation
$easeInSine:   cubic-bezier(0.47,0,0.745,0.715);
$easeOutSine:  cubic-bezier(0.39,0.575,0.565,1);
$easeSine:     cubic-bezier(0.445,0.05,0.55,0.95);
$easeInQuad:   cubic-bezier(0.55,0.085,0.68,0.53);
$easeOutQuad:  cubic-bezier(0.25,0.46,0.45,0.94);
$easeQuad:     cubic-bezier(0.455,0.03,0.515,0.955);
$easeInCubic:  cubic-bezier(0.55,0.055,0.675,0.19);
$easeOutCubic: cubic-bezier(0.215,0.61,0.355,1);
$easeCubic:    cubic-bezier(0.645,0.045,0.355,1);
$easeInQuart:  cubic-bezier(0.895,0.03,0.685,0.22);
$easeOutQuart: cubic-bezier(0.165,0.84,0.44,1);
$easeQuart:    cubic-bezier(0.77,0,0.175,1);
$easeInQuint:  cubic-bezier(0.755,0.05,0.855,0.06);
$easeOutQuint: cubic-bezier(0.23,1,0.32,1);
$easeQuint:    cubic-bezier(0.86,0,0.07,1);
$easeInExpo:   cubic-bezier(0.95,0.05,0.795,0.035);
$easeOutExpo:  cubic-bezier(0.19,1,0.22,1);
$easeExpo:     cubic-bezier(1,0,0,1);
$easeInCirc:   cubic-bezier(0.6,0.04,0.98,0.335);
$easeOutCirc:  cubic-bezier(0.075,0.82,0.165,1);
$easeCirc:     cubic-bezier(0.785,0.135,0.15,0.86);
$easeInBack:   cubic-bezier(0.6,-0.28,0.735,0.045);
$easeOutBack:  cubic-bezier(0.175,0.885,0.32,1.275);
$easeBack:     cubic-bezier(0.68,-0.55,0.265,1.55);

@mixin ease($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: ease if($imp,!important,null);
		animation-timing-function:  ease if($imp,!important,null);
	}
}
@mixin ease-in($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: ease-in if($imp,!important,null);
		animation-timing-function:  ease-in if($imp,!important,null);
	}
}
@mixin ease-out($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: ease-out if($imp,!important,null);
		animation-timing-function:  ease-out if($imp,!important,null);
	}
}
@mixin ease-inout($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: ease-in-out if($imp,!important,null);
		animation-timing-function:  ease-in-out if($imp,!important,null);
	}
}
@mixin ease-linear($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: linear if($imp,!important,null);
		animation-timing-function:  linear if($imp,!important,null);
	}
}
@mixin ease-in-sine($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeInSine if($imp,!important,null);
		animation-timing-function:  $easeInSine if($imp,!important,null);
	}
}
@mixin ease-out-sine($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeOutSine if($imp,!important,null);
		animation-timing-function:  $easeOutSine if($imp,!important,null);
	}
}
@mixin ease-sine($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeSine if($imp,!important,null);
		animation-timing-function:  $easeSine if($imp,!important,null);
	}
}
@mixin ease-in-quad($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeInQuad if($imp,!important,null);
		animation-timing-function:  $easeInQuad if($imp,!important,null);
	}
}
@mixin ease-out-quad($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeOutQuad if($imp,!important,null);
		animation-timing-function:  $easeOutQuad if($imp,!important,null);
	}
}
@mixin ease-quad($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeQuad if($imp,!important,null);
		animation-timing-function:  $easeQuad if($imp,!important,null);
	}
}
@mixin ease-in-cubic($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeInCubic if($imp,!important,null);
		animation-timing-function:  $easeInCubic if($imp,!important,null);
	}
}
@mixin ease-out-cubic($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeOutCubic if($imp,!important,null);
		animation-timing-function:  $easeOutCubic if($imp,!important,null);
	}
}
@mixin ease-cubic($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeCubic if($imp,!important,null);
		animation-timing-function:  $easeCubic if($imp,!important,null);
	}
}
@mixin ease-in-quart($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeInQuart if($imp,!important,null);
		animation-timing-function:  $easeInQuart if($imp,!important,null);
	}
}
@mixin ease-out-quart($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeOutQuart if($imp,!important,null);
		animation-timing-function:  $easeOutQuart if($imp,!important,null);
	}
}
@mixin ease-quart($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeQuart if($imp,!important,null);
		animation-timing-function:  $easeQuart if($imp,!important,null);
	}
}
@mixin ease-in-quint($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeInQuint if($imp,!important,null);
		animation-timing-function:  $easeInQuint if($imp,!important,null);
	}
}
@mixin ease-out-quint($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeOutQuint if($imp,!important,null);
		animation-timing-function:  $easeOutQuint if($imp,!important,null);
	}
}
@mixin ease-quint($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeQuint if($imp,!important,null);
		animation-timing-function:  $easeQuint if($imp,!important,null);
	}
}
@mixin ease-in-expo($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeInExpo if($imp,!important,null);
		animation-timing-function:  $easeInExpo if($imp,!important,null);
	}
}
@mixin ease-out-expo($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeOutExpo if($imp,!important,null);
		animation-timing-function:  $easeOutExpo if($imp,!important,null);
	}
}
@mixin ease-expo($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeExpo if($imp,!important,null);
		animation-timing-function:  $easeExpo if($imp,!important,null);
	}
}
@mixin ease-in-circ($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeInCirc if($imp,!important,null);
		animation-timing-function:  $easeInCirc if($imp,!important,null);
	}
}
@mixin ease-out-circ($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeOutCirc if($imp,!important,null);
		animation-timing-function:  $easeOutCirc if($imp,!important,null);
	}
}
@mixin ease-circ($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeCirc if($imp,!important,null);
		animation-timing-function:  $easeCirc if($imp,!important,null);
	}
}
@mixin ease-in-back($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeInBack if($imp,!important,null);
		animation-timing-function:  $easeInBack if($imp,!important,null);
	}
}
@mixin ease-out-back($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeOutBack if($imp,!important,null);
		animation-timing-function:  $easeOutBack if($imp,!important,null);
	}
}
@mixin ease-back($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	@include media-breakpoint($up,$down,$breakpoints){
		transition-timing-function: $easeBack if($imp,!important,null);
		animation-timing-function:  $easeBack if($imp,!important,null);
	}
}
