/// MAYBE: --gap-x, --gap-y for understandability

@mixin _row($imp: false){
	display: flex                                  if($imp,!important,null);
	flex-wrap: wrap                                if($imp,!important,null);
	padding: var(--rowPaddingY) var(--rowPaddingX) if($imp,!important,null);
	&>*{ margin: var(--colMarginY) var(--colMarginX) if($imp,!important,null) }
}

@mixin row($size: null,$up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	@include _row($imp);
	@if $size{ &>*{ --colCount: #{$size} }}
}}

@mixin spc($gap,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include media-breakpoint($up,$down,$breakpoints){
	--rowPaddingX: #{$gap/2};
	--rowPaddingY: #{$gap/2};
	&>*{
		--colMarginX: #{$gap/2};
		--colMarginY: #{$gap/2};
	}
}}
@mixin spc-x($gap-x,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include media-breakpoint($up,$down,$breakpoints){
	--rowPaddingX:     #{$gap-x/2};
	&>*{ --colMarginX: #{$gap-x/2}}
}}
@mixin spc-y($gap-y,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include media-breakpoint($up,$down,$breakpoints){
	--rowPaddingY:     #{$gap-y/2};
	&>*{ --colMarginY: #{$gap-y/2}}
}}
@mixin spc-xy($gap-x,$gap-y,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include media-breakpoint($up,$down,$breakpoints){
	--rowPaddingX: #{$gap-x/2};
	--rowPaddingY: #{$gap-y/2};
	&>*{
		--colMarginX: #{$gap-x/2};
		--colMarginY: #{$gap-y/2};
	}
}}

@mixin _col($imp: false){
	--colWidth: calc(var(--colSize) * 100% / var(--colCount) - var(--colMarginX) * 2);
	flex: 0 auto           if($imp,!important,null);
	width: var(--colWidth) if($imp,!important,null);
}

@mixin col($parameter: null,$up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	@if $parameter==auto{
		flex: 0 auto if($imp,!important,null);
		width: auto  if($imp,!important,null);
	}@else if $parameter{
		--colSize: #{$parameter};
		@include _col($imp);
	}@else{
		flex: 1     if($imp,!important,null);
		width: auto if($imp,!important,null);
	}
}}

@mixin col-extrude($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	--colWidth: calc(var(--colSize) * 100% / var(--colCount) + var(--colMarginX) * 2);
	margin:     calc(var(--colMarginX) * -1) calc(var(--colMarginY) * -1) if($imp,!important,null);
}}
@mixin col-extrude-x($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	--colWidth:   calc(var(--colSize) * 100% / var(--colCount) + var(--colMarginX) * 2);
	margin-right: calc(var(--colMarginX) * -1) if($imp,!important,null);
	margin-left:  calc(var(--colMarginX) * -1) if($imp,!important,null);
}}
@mixin col-extrude-y($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	margin-top:    calc(var(--colMarginY) * -1) if($imp,!important,null);
	margin-bottom: calc(var(--colMarginY) * -1) if($imp,!important,null);
}}
@mixin col-extrude-t($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	margin-top: calc(var(--colMarginY) * -1) if($imp,!important,null);
}}
@mixin col-extrude-r($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	--colWidth:   calc(var(--colSize) * 100% / var(--colCount));
	margin-right: calc(var(--colMarginX) * -1) if($imp,!important,null);
}}
@mixin col-extrude-b($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	margin-bottom: calc(var(--colMarginY) * -1) if($imp,!important,null);
}}
@mixin col-extrude-l($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){ @include media-breakpoint($up,$down,$breakpoints){
	--colWidth:  calc(var(--colSize) * 100% / var(--colCount));
	margin-left: calc(var(--colMarginX) * -1) if($imp,!important,null);
}}

@mixin row-breaker($up: null,$down: null,$breakpoints: $grid-breakpoints,$imp: false){
	display: none if($imp,!important,null);
	@include media-breakpoint($up,$down,$breakpoints){
		display: block                                                    if($imp,!important,null);
		flex: 0 auto                                                      if($imp,!important,null);
		width: calc(100% + var(--colMarginX) * 2)                         if($imp,!important,null);
		margin: calc(var(--colMarginX) * -1) calc(var(--colMarginY) * -1) if($imp,!important,null);
	}
}
