@mixin scroll($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){
		overflow: auto;
		@supports(-webkit-overflow-scrolling: touch){
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}
@mixin scroll-x($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){
		overflow-x: auto;
		@supports(-webkit-overflow-scrolling: touch){
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}
@mixin scroll-y($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){
		overflow-y: auto;
		@supports(-webkit-overflow-scrolling: touch){
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}

@mixin no-scroll($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow: visibile } }
@mixin no-scroll-x($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-x: visibile } }
@mixin no-scroll-y($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-y: visibile } }

@mixin trim($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow: hidden } }
@mixin trim-x($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-x: hidden } }
@mixin trim-y($up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ overflow-y: hidden } }
