@mixin m($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ margin: $size !important } }
@mixin mt($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ margin-top: $size !important } }
@mixin mr($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ margin-right: $size !important } }
@mixin mb($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ margin-bottom: $size !important } }
@mixin ml($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ margin-left: $size !important } }
@mixin mx($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ @include mr($size); @include ml($size) } }
@mixin my($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ @include mt($size); @include mb($size) } }

@mixin b($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ border: $size solid transparent !important } }
@mixin bt($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ border-top: $size solid transparent !important } }
@mixin br($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ border-right: $size solid transparent !important } }
@mixin bb($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ border-bottom: $size solid transparent !important } }
@mixin bl($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ border-left: $size solid transparent !important } }
@mixin bx($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ @include br($size); @include bl($size) } }
@mixin by($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ @include bt($size); @include bb($size) } }

@mixin p($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ padding: $size !important } }
@mixin pt($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ padding-top: $size !important } }
@mixin pr($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ padding-right: $size !important } }
@mixin pb($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ padding-bottom: $size !important } }
@mixin pl($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ padding-left: $size !important } }
@mixin px($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ @include pr($size); @include pl($size) } }
@mixin py($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ @include pt($size); @include pb($size) } }

@mixin spb-x($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ >*:not(:last-child){ margin-right: $size } } }
@mixin spb-y($size,$up: null,$down: null,$breakpoints: $grid-breakpoints){ @include resp($up,$down,$breakpoints){ >*:not(:last-child){ margin-bottom: $size } } }

@mixin fix-aspect($up: null,$down: null,$breakpoints: $grid-breakpoints){
	@include resp($up,$down,$breakpoints){
		--aspectRatio: 1;
		&::after{
			content: "";
			float: left;
			clear: both;
			padding-top: calc(var(aspectRatio) * 100%);
		}
	}
}

// Container is used for centering webpage content on big displays.
// NOT THE SAME AS BOOTSTRAP CONTAINER.
@mixin container($name: xl,$breakpoints: $grid-breakpoints){
	@include media-breakpoint-up($name,$breakpoints){
		margin-right: calc(50% - #{breakpoint-min($name,$breakpoints)/2}) !important;
		margin-left: calc(50% - #{breakpoint-min($name,$breakpoints)/2}) !important;
	}
}

// Same as container, but with border instead of margin
// Caution: Should be used only with overlay scrollbars
@mixin container-b($name: xl,$breakpoints: $grid-breakpoints){
	@include media-breakpoint-up($name,$breakpoints){
		border-right: calc(50vw - #{breakpoint-min($name,$breakpoints)/2}) solid transparent !important;
		border-left: calc(50vw - #{breakpoint-min($name,$breakpoints)/2}) solid transparent !important;
	}
}

// Same as container, but with padding instead of margin
@mixin container-p($name: xl,$breakpoints: $grid-breakpoints){
	@include media-breakpoint-up($name,$breakpoints){
		padding-right: calc(50% - #{breakpoint-min($name,$breakpoints)/2}) !important;
		padding-left: calc(50% - #{breakpoint-min($name,$breakpoints)/2}) !important;
	}
}
