$grid-columns: 12; // Number of grid columns (Adjustable)

// Breakpoints are defined as a map of (name: minimum width), order from small to large:
//    (xs: 0,sm: 576px,md: 768px,lg: 992px,xl: 1200px)
// The map defined in the `$grid-breakpoints` global variable is used as the `$breakpoints` argument by default.

$grid-breakpoints:(
	xs: 0,     // Extra small devices (phones) (Used purely for internal looping purpose. No suffix will be generated. MUST BE =0)
	sm: 576px, // Small devices (landscape phones, 576px and up)
	md: 768px, // Medium devices (tablets, 768px and up)
	lg: 992px, // Large devices (landscape tablets, small laptops, 992px and up)
	xl: 1200px // Extra large devices (large desktops, 1200px and up)
)!default;

$spacing-step-size: 5 !default; // Size in px of step by which spacing values are incremented (No need to include px)
$spacing-steps: 8 !default; // No. of spacing steps (for margin, padding classes etc.)

// Grid spacing variables
// Eg. - 4 steps of 5px each gives spc-5, spc-10, spc-15, spc-20
$grid-spacing-steps: 4 !default; // No. of spc increments

// Z-index master list
//
// Warning:
// Avoid customizing these values.
// They're used for a bird's eye view of components dependent on the z-axis and are designed to all work together.
$zindex-dropdown:       1000 !default;
$zindex-sticky:         1020 !default;
$zindex-fixed:          1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal:          1050 !default;
$zindex-popover:        1060 !default;
$zindex-tooltip:        1070 !default;
