// https://github.com/G7495x/SuperGrids.css v0.9.0

// WONT FIX
// suffix to infix (bootstrap compatibility) - Not possible because of responsive rules (breakpoints.scss)

// TODO
// Cite bootstrap, easings.net (licensing)
// Forms Component (button groups, radio groups, etc.)
// Border Rules
// Spacing.scss - Customizable Aspect Ratio, .square
// Reboot.scss - Flag for print links
//
// !important (time consuming change, only benefit is if user uses sass mixins)
// SCSS to CSS Variables?
// breakpoints.scss - responsive-down??
// Reboot.scss - Variables to Variables.scss??

// COMPONENTS MAP

// main.scss
// ├─ reboot.scss
// │  └─ typography.scss *
// │
// ├─ grid-(v1-v2).scss *
// │
// ├─ flex.scss *
// ├─ align.scss *
// ├─ scroll.scss *
// ├─ easing.scss *
// ├─ spacing.scss *
// ├─ position.scss *
// ├─ display.scss *
// │
// └─ custom-tags.scss **

// *  - Depends variables.scss & breakpoints.scss
// ** - Depends on everything before it

@import "components/reboot";

// @import "components/grid-v1";
@import "components/grid-v2";

@import "components/flex";
@import "components/align";
@import "components/scroll";
@import "components/easing";
@import "components/spacing";
@import "components/position";
@import "components/display";

// @import "components/custom-tags"; // Optional

/// TODO Remove
card,
.card{
	// display: block; ///
	border-radius: 5px;
	padding: 15px;
	background-color: white;
	color: #333;
	box-shadow:
		0 5px 20px rgba(black,.1),
		0 0 0 1px rgba(black,.0375);
}

// .cc{
// 	@include pos-sty;
// 	@include pos-abs(sm);
// 	@include pos-rel(md,lg);
// }
///
