// https://github.com/G7495x/SuperGrids.css

// TODO
// Cite bootstrap, easings.net (licensing)
// !important
// Form Styling, button groups, radio groups
// Grid NXT responsive grid columns
// Grid NXT row-gap col-gap
// SCSS to CSS Variables?
// suffix to infix (Breaking Change)
// Dependencies guide
// Border Rules

// COMPONENTS MAP

// main.scss
// ├─ reboot.scss
// │  └─ typography.scss *
// │
// ├─ grid.scss *
// │
// ├─ flex.scss *
// ├─ align.scss *
// ├─ scroll.scss *
// ├─ easing.scss *
// ├─ spacing.scss *
// ├─ position.scss *
// ├─ display.scss *
// │
// └─ custom-tags.scss **

// * - Depends variables.scss, breakpoints.scss
// ** - Depends on everything before it

@import "reboot";

// @import "grid";
@import "grid-nxt";

@import "flex";
@import "align";
@import "scroll";
@import "easing";
@import "spacing";
@import "position";
@import "display";

@import "custom-tags"; // Optional

/// TODO Remove
card,
.card{
	// display: block; ///
	border-radius: 5px;
	padding: 15px;
	background-color: white;
	color: #333;
	box-shadow:
		0 5px 20px rgba(black,.1),
		0 0 0 1px rgba(black,.0375);
}

// .cc{
// 	@include pos-stk;
// 	@include pos-abs(sm);
// 	@include pos-rel(md,lg);
// }
///
