// Colors used within the framework

$background-color: white !default;      // Background color of body
$text-color:       #333 !default;       // Text color
$accent-rgb:       55,155,255 !default; // Accent Color
