/// TODO: Fix colors
/// TODO: Add css variables in separate file in components

// Colors used within the framework

$bg-color:     white             !default; // Background color of body
$text-color:   #333              !default; // Text color
$accent-color: hsl(210,100%,60%) !default; // Accent color

$muted-alpha:  .5                !default; // Muted alpha
