// Font related properties

$h1: 48px  !default;
$h2: 40px  !default;
$h3: 32px  !default;
$h4: 24px  !default;
$h5: 20px  !default;
$h6: 16px  !default;
$h7: 12px  !default;
$h8: 9.6px !default;

$font-size:   16px !default;
$font-weight: 400  !default;
$line-height: 1.25 !default;
$list-indent: 24px !default;
